<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/cbc98de8-5d83-46ef-b083-11b98da3f232/resourceGroups/azureapp-auto-alerts-22b541-jinsheng_ooi_avanade_com/providers/Microsoft.Web/sites/pb20220403010232</ResourceId>
    <ResourceGroup>azureapp-auto-alerts-22b541-jinsheng_ooi_avanade_com</ResourceGroup>
    <ApiResourceId>/subscriptions/cbc98de8-5d83-46ef-b083-11b98da3f232/resourceGroups/azureapp-auto-alerts-22b541-jinsheng_ooi_avanade_com/providers/Microsoft.ApiManagement/service/pbapi-2/apis/pb</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://pb20220403010232.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>8d472ff3-bdf2-4f42-80cc-090bde43d51e</ProjectGuid>
    <MSDeployServiceURL>pb20220403010232.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>pb20220403010232</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$pb20220403010232</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>